{"swagger": "2.0", "info": {"version": "1.0", "title": "生鲜柜业务"}, "host": "api.shoppingyizhan.com", "basePath": "/fcb", "tags": [{"name": "自提点-商品库", "description": "自提点-商品库"}, {"name": "第三方渠道账号模块", "description": "第三方渠道账号模块"}, {"name": "(群接龙)团长模块", "description": "(群接龙)团长模块"}, {"name": "类目管理", "description": "Category Controller"}, {"name": "订单商品明细业务", "description": "订单商品明细业务"}, {"name": "商品标品库", "description": "商品标品库"}, {"name": "用户模块", "description": "用户模块"}, {"name": "财务统计模块", "description": "财务统计模块相关接口"}, {"name": "管理后台菜单", "description": "管理后台菜单"}, {"name": "交易明细模块", "description": "交易明细模块"}, {"name": "商品库", "description": "商品库"}, {"name": "城市管理", "description": "City Controller"}, {"name": "售后业务", "description": "售后业务"}, {"name": "提现模块", "description": "提现模块"}, {"name": "商家模块", "description": "商家模块"}, {"name": "提现规则模块", "description": "提现规则模块"}, {"name": "账号模块", "description": "账号模块"}, {"name": "节日活动相关", "description": "节日活动相关"}, {"name": "Excel导出业务", "description": "Excel导出业务"}, {"name": "网点级别模块", "description": "网点级别模块"}, {"name": "前台类目管理", "description": "Front Category Controller"}, {"name": "新售后模块", "description": "新售后模块"}, {"name": "Banner图模块", "description": "Banner图模块相关接口"}, {"name": "订单备注", "description": "订单备注"}, {"name": "银行卡模块", "description": "银行卡模块"}, {"name": "换购活动模块", "description": "换购活动模块"}, {"name": "供应商收益结算规则模块", "description": "供应商收益结算规则模块"}, {"name": "用户余额业务", "description": "用户余额业务"}, {"name": "权限模块", "description": "权限模块相关接口"}, {"name": "统计模块", "description": "账户统计"}, {"name": "上传功能", "description": "上传功能（通过Post上传）"}, {"name": "常见问题业务", "description": "常见问题业务"}, {"name": "区域管理员模块", "description": "区域管理员模块"}, {"name": "活动模块", "description": "活动模块"}, {"name": "平台补贴业务", "description": "平台补贴业务"}, {"name": "订单业务", "description": "订单业务"}, {"name": "供应商申请信息", "description": "供应商申请信息"}], "paths": {"/RepurchaseActivity": {"get": {"tags": ["换购活动模块"], "summary": "查询换购活动信息列表", "description": "查询换购活动信息列表", "operationId": "findRepurchaseActivityListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "换购活动筛选条件(过滤条件格式为:filter='isEnabled::1|name::测试|type::2|areaCode::610100|levelType::2')", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}, "post": {"tags": ["换购活动模块"], "summary": "添加换购活动信息", "description": "添加换购活动信息", "operationId": "saveRepurchaseActivityUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "换购活动View对象", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/RepurchaseActivityView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}, "put": {"tags": ["换购活动模块"], "summary": "编辑换购活动信息", "description": "编辑换购活动信息", "operationId": "updateRepurchaseActivityUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "换购活动View对象", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/RepurchaseActivityView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}, "delete": {"tags": ["换购活动模块"], "summary": "删除换购活动信息（预留）", "description": "删除换购活动信息（预留）", "operationId": "deleteRepurchaseActivityUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "query", "description": "id", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}}, "/RepurchaseActivity/findByRepurchaseActivityId/{id}": {"get": {"tags": ["换购活动模块"], "summary": "根据换购活动ID查询活动详情", "description": "根据换购活动ID查询活动详情", "operationId": "findByRepurchaseActivityIdUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}}, "/RepurchaseActivity/findRepurchaseActivityProductList": {"get": {"tags": ["换购活动模块"], "summary": "查询换购活动商品列表", "description": "查询换购活动商品列表", "operationId": "findRepurchaseActivityProductListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "name", "in": "query", "description": "换购活动名称", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/Product"}}}}}, "/RepurchaseActivity/openOrCloseRepurchaseActivity": {"put": {"tags": ["换购活动模块"], "summary": "开启或关闭换购活动信息", "description": "开启或关闭换购活动信息", "operationId": "openOrCloseRepurchaseActivityUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "query", "description": "换购活动ID", "required": false, "type": "integer", "format": "int64"}, {"name": "isEnabled", "in": "query", "description": "是否关闭(1 关闭 0开启)", "required": false, "type": "ref"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/RepurchaseActivity"}}}}}, "/accounting-statistics": {"get": {"tags": ["统计模块"], "summary": "进账统计", "description": "根据日期进行进账统计", "operationId": "accountingStatisticsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "beginTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "endTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "sqr_key", "in": "header", "description": "社区人秘钥", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«AccountingTotalStatisticsView»"}}}}}, "/accounts/auth": {"get": {"tags": ["账号模块"], "summary": "获取当前用户的账号余额", "description": "获取当前用户的账号余额", "operationId": "findByCurrentUserUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«finance-account»"}}}}}, "/activities": {"get": {"tags": ["活动模块"], "summary": "查询活动列表", "description": "查询活动列表", "operationId": "getListUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "营销活动筛选条件(过滤条件格式为:filter='id::1|title::测试|areaCode::610100|levelType::2')", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}, "post": {"tags": ["活动模块"], "summary": "添加活动", "description": "添加活动", "operationId": "addUsingPOST_5", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "营销活动", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/NewActivity"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}, "put": {"tags": ["活动模块"], "summary": "修改活动", "description": "修改活动", "operationId": "updateUsingPUT_5", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "营销活动", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/NewActivity"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}, "patch": {"tags": ["活动模块"], "summary": "修改活动状态", "description": "修改活动状态", "operationId": "updateActivityStatusUsingPATCH_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "activity-id", "in": "query", "description": "活动Id", "required": true, "type": "integer", "format": "int64"}, {"name": "isEnabled", "in": "query", "description": "是否开启(0开启 1关闭)", "required": true, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}}, "/activities/enabled": {"get": {"tags": ["活动模块"], "summary": "查看当前开启的活动", "description": "查看当前开启的活动", "operationId": "getEnabledActivityUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "groupLeaderUserId", "in": "query", "description": "团长用户ID", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}}, "/activities/enabledByProduct": {"post": {"tags": ["活动模块"], "summary": "根据购买商品匹配最合适的活动", "description": "根据购买商品匹配最合适的活动", "operationId": "getEnabledActivityByProductUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "groupLeaderUserId", "in": "query", "description": "团长用户ID", "required": false, "type": "integer", "format": "int64"}, {"in": "body", "name": "购买活动商品列表", "description": "传入json格式", "required": true, "schema": {"type": "array", "items": {"$ref": "#/definitions/ActivityProductView"}}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}}, "/activities/{id}": {"get": {"tags": ["活动模块"], "summary": "根据Id查询活动", "description": "根据Id查询活动", "operationId": "findByIdUsingGET_5", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}, "delete": {"tags": ["活动模块"], "summary": "删除活动", "description": "删除活动", "operationId": "updateUsingDELETE_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NewActivity"}}}}}, "/addBusinessImportSQRExcel": {"put": {"tags": ["商家模块"], "summary": "网点导入(支持生鲜超管角色导入)", "description": "网点导入(支持生鲜超管角色导入)", "operationId": "addBusinessImportSQRExcelUsingPUT", "consumes": ["multipart/form-data"], "produces": ["application/json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "multiPartFile", "in": "formData", "description": "上传的Excel", "required": true, "type": "file"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Map"}}}}}}, "/authority/areaCodeList": {"get": {"tags": ["权限模块"], "summary": "查找区域管理管理的区域编码", "description": "查找区域管理管理的区域编码", "operationId": "areaCodeListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"type": "integer", "format": "int64"}}}}}}, "/authority/get": {"get": {"tags": ["权限模块"], "summary": "查找管理后台菜单", "description": "查找管理后台菜单", "operationId": "getUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«authority»"}}}}}, "/authority/getIdList/{roleId}": {"get": {"tags": ["权限模块"], "summary": "查看角色下所有的权限ID", "description": "查看角色下所有的权限ID", "operationId": "getIdListByRoleUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "roleId", "in": "path", "description": "角色ID", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"type": "string"}}}}}}, "/authority/role/add": {"post": {"tags": ["权限模块"], "summary": "创建角色", "description": "创建角色", "operationId": "addRoleUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "ids", "in": "query", "description": "权限id逗号隔开", "required": false, "type": "string"}, {"name": "roleName", "in": "query", "description": "角色名称", "required": false, "type": "string"}, {"name": "alias", "in": "query", "description": "角色别名", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«RoleView»"}}}}}, "/authority/role/get": {"get": {"tags": ["权限模块"], "summary": "查找生鲜柜所有角色", "description": "查找生鲜柜所有角色", "operationId": "getAllRolesUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«RoleView»"}}}}}, "/authority/role/update": {"put": {"tags": ["权限模块"], "summary": "修改角色", "description": "修改角色", "operationId": "updateRoleUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "角色信息", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/RoleView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«RoleView»"}}}}}, "/authority/user/add": {"post": {"tags": ["权限模块"], "summary": "创建用户", "description": "创建用户", "operationId": "addUserUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "user", "description": "用户对象", "required": false, "schema": {"$ref": "#/definitions/user_backend"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«user_backend»"}}}}}, "/authority/user/delete/{id}": {"delete": {"tags": ["权限模块"], "summary": "删除", "description": "删除用户", "operationId": "putUserUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "id", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«user_backend»"}}}}}, "/authority/user/get": {"get": {"tags": ["权限模块"], "summary": "查询用户", "description": "查询用户", "operationId": "getUserUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/UserBackendPageVO"}}}}}, "/authority/user/put": {"put": {"tags": ["权限模块"], "summary": "修改用户", "description": "修改用户", "operationId": "putUserUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "user", "description": "用户对象", "required": false, "schema": {"$ref": "#/definitions/user_backend"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«user_backend»"}}}}}, "/authorizedMergeUserByJava": {"get": {"tags": ["用户模块"], "summary": "授权合并用户APP跳转", "description": "授权合并用户APP跳转", "operationId": "mergeUserByJavaUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "appToken", "in": "query", "description": "appToken", "required": false, "type": "string"}, {"name": "openid", "in": "query", "description": "小程序openid", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/balance": {"get": {"tags": ["用户余额业务"], "summary": "查询用户当前余额", "description": "查询用户当前余额", "operationId": "getBalanceUsingGET", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«balance»"}}}}}, "/balance/add": {"post": {"tags": ["用户余额业务"], "summary": "增加用户当前余额", "description": "增加用户当前余额", "operationId": "addBalanceUsingPOST_1", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "userId", "in": "query", "description": "用户ID", "required": true, "type": "integer", "format": "int64"}, {"name": "money", "in": "query", "description": "所加金额", "required": true, "type": "number"}, {"name": "type", "in": "query", "description": "交易类型 0为用户充值 1接龙奖励金支出（只限团长）2奖励退还（只限团长） 3佣金收入（只限团长）4分享收益 5接龙收益 6提现 7微信退款 8红包退款(返回提现的余额里) 9分享奖励金支出（只限团长）", "required": true, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/balance/addBatch": {"post": {"tags": ["用户余额业务"], "summary": "增加用户当前余额", "description": "增加用户当前余额", "operationId": "addBalanceUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "json", "description": "json", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/balance/detail": {"get": {"tags": ["用户余额业务"], "summary": "查询用户资金流水", "description": "查询用户资金流水", "operationId": "getBalanceDetailsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "incomeType", "in": "query", "description": "交易类型 0充值 1奖励 6提现 7退款 10000全部", "required": false, "type": "integer", "format": "int32"}, {"name": "beginTime", "in": "query", "description": "起始时间戳（毫秒数）", "required": false, "type": "integer", "format": "int64"}, {"name": "endTime", "in": "query", "description": "结束时间戳（毫秒数）", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«BalanceDetailView»"}}}}}, "/balance/exchangeBalance": {"post": {"tags": ["用户余额业务"], "summary": "转账业务", "description": "转账业务", "operationId": "exchangeBalanceUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "senderUserId", "in": "query", "description": "团长用户ID", "required": true, "type": "integer", "format": "int64"}, {"name": "receiverUserId", "in": "query", "description": "粉丝用户ID", "required": true, "type": "integer", "format": "int64"}, {"name": "money", "in": "query", "description": "转账金额", "required": true, "type": "number"}, {"name": "senderIncomeType", "in": "query", "description": "交易类型 0为用户充值 1接龙奖励金支出（只限团长）2奖励退还（只限团长） 3佣金收入（只限团长）4分享收益 5接龙收益 6提现 7微信退款 8红包退款(返回提现的余额里) 9分享奖励金支出（只限团长）", "required": true, "type": "integer", "format": "int32"}, {"name": "receiverIncomeType", "in": "query", "description": "交易类型 0为用户充值 1接龙奖励金支出（只限团长）2奖励退还（只限团长） 3佣金收入（只限团长）4分享收益 5接龙收益 6提现 7微信退款 8红包退款(返回提现的余额里) 9分享奖励金支出（只限团长）", "required": true, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/balance/exchangeBalanceBatch": {"post": {"tags": ["用户余额业务"], "summary": "批量转账业务", "description": "批量转账业务", "operationId": "exchangeBalanceBatchUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "json", "description": "json", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/balance/judgeExistPublicAccountOpenId": {"get": {"tags": ["用户余额业务"], "summary": "判断用户是否存在社区人生鲜的公众号OpenId", "description": "判断用户是否存在社区人生鲜的公众号OpenId", "operationId": "judgeExistPublicAccountOpenIdUsingGET", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/balance/payment/success": {"post": {"tags": ["用户余额业务"], "summary": "balanceRechargeSuccess", "operationId": "balanceRechargeSuccessUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "orderId", "in": "query", "description": "orderId", "required": true, "type": "string"}, {"name": "transactionId", "in": "query", "description": "transactionId", "required": true, "type": "string"}, {"name": "sign", "in": "query", "description": "sign", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/balance/recharge": {"post": {"tags": ["用户余额业务"], "summary": "支付订单", "description": "支付订单", "operationId": "rechargeUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "money", "in": "query", "description": "充值金额", "required": true, "type": "number"}, {"name": "openid", "in": "query", "description": "充值用户openid", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object"}}}}}, "/balance/sub": {"post": {"tags": ["用户余额业务"], "summary": "减少用户当前余额", "description": "减少用户当前余额", "operationId": "subBalanceUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "userId", "in": "query", "description": "用户ID", "required": true, "type": "integer", "format": "int64"}, {"name": "money", "in": "query", "description": "所加金额", "required": true, "type": "number"}, {"name": "type", "in": "query", "description": "交易类型 0为用户充值 1接龙奖励金支出（只限团长）2奖励退还（只限团长） 3佣金收入（只限团长）4分享收益 5接龙收益 6提现 7微信退款 8红包退款(返回提现的余额里) 9分享奖励金支出（只限团长）", "required": true, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/balance/withdraw": {"post": {"tags": ["用户余额业务"], "summary": "提现红包", "description": "提现红包", "operationId": "withdrawUsingPOST", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "money", "in": "query", "description": "提现金额", "required": true, "type": "number"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/bankcards": {"get": {"tags": ["银行卡模块"], "summary": "查询银行卡分页对象集合", "description": "查询银行卡分页对象集合", "operationId": "pageUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "page", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "size", "required": false, "type": "integer", "default": 10, "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«bankcard»»"}}}}, "post": {"tags": ["银行卡模块"], "summary": "新增银行卡对象", "description": "新增银行卡对象", "operationId": "addUsingPOST_1", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "银行卡", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/bankcard"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«bankcard»"}}}}, "put": {"tags": ["银行卡模块"], "summary": "修改银行卡对象", "description": "修改银行卡对象", "operationId": "updateUsingPUT_1", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "银行卡", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/bankcard"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«bankcard»"}}}}}, "/bankcards/default": {"get": {"tags": ["银行卡模块"], "summary": "查询默认银行卡对象", "description": "查询默认的银行卡对象", "operationId": "findByFilterUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«bankcard»"}}}}}, "/bankcards/list": {"get": {"tags": ["银行卡模块"], "summary": "查询银行卡对象集合", "description": "查询银行卡对象集合", "operationId": "listUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件用户ID、条件查询条件查询，过滤条件格式为:filter='uid::1", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«bankcard»"}}}}}, "/bankcards/set-default": {"put": {"tags": ["银行卡模块"], "summary": "设置默认银行卡", "description": "设置默认银行卡", "operationId": "setDefaultUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "query", "description": "id", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/bankcards/type": {"get": {"tags": ["银行卡模块"], "summary": "查询银行分类 过滤条件：银行编码、银行名称（条件只能二选一）", "description": "查询银行分类 过滤条件：银行编码、银行名称（条件只能二选一）", "operationId": "findTypeByBankIdUsingGET", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "bank-code", "in": "query", "description": "bank-code", "required": false, "type": "string"}, {"name": "bank-name", "in": "query", "description": "bank-name", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/bankcards/type/items": {"get": {"tags": ["银行卡模块"], "summary": "查询银行所有的分类", "description": "查询银行所有的分类", "operationId": "findTypeUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "object"}}}}}, "/bankcards/{bankcard-id}": {"get": {"tags": ["银行卡模块"], "summary": "根据银行卡ID查询银行卡对象", "description": "根据银行卡ID查询银行卡对象", "operationId": "findByIdUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "bankcard-id", "in": "path", "description": "bankcard-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«bankcard»"}}}}, "delete": {"tags": ["银行卡模块"], "summary": "删除银行卡对象", "description": "删除银行卡对象", "operationId": "delUsingDELETE_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "bankcard-id", "in": "path", "description": "bankcard-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/banners": {"get": {"tags": ["Banner图模块"], "summary": "查询Banner列表", "description": "查询Banner列表接口", "operationId": "findBannersTwoUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "ref", "default": "0"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "ref", "default": "10"}, {"name": "order", "in": "query", "description": "排序（默认0，点击1）", "required": false, "type": "ref", "default": "0"}, {"name": "filter", "in": "query", "description": "Banner筛选条件,支持根据banner主键(id::1,2,3)、Banner位置(position::1)Banners标题(title::首页大图)，链接类型(linkType::1),是否启用(isEnabled::true),城市名称(name::西安) ,多个条件用'|'连接", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}, "post": {"tags": ["Banner图模块"], "summary": "添加Banner图", "description": "添加Banner图接口", "operationId": "asveBannersUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "Banner图", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/BannersView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}, "put": {"tags": ["Banner图模块"], "summary": "修改Banner图", "description": "修改Banner图接口", "operationId": "updateBannersUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "Banner图", "description": "传入json格式", "required": true, "schema": {"$ref": "#/definitions/BannersView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/CityNum": {"get": {"tags": ["Banner图模块"], "summary": "根据区号查询（最多5条）", "description": "根据区号查询（最多5条）", "operationId": "findBannersByCityNumUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "CityNum", "in": "query", "description": "区号", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/OpenOrClose": {"put": {"tags": ["Banner图模块"], "summary": "开启货关闭Banner图", "description": "开启货关闭Banner图接口", "operationId": "OpenOrCloseBannersUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "status", "in": "query", "description": "0-开启，1-关闭", "required": true, "type": "ref"}, {"name": "id", "in": "query", "description": "Banner图id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/del/{id}": {"delete": {"tags": ["Banner图模块"], "summary": "删除Banner图", "description": "删除Banner图接口", "operationId": "deleteBannersByIdUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "Bnnner图ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/dels/{ids}": {"delete": {"tags": ["Banner图模块"], "summary": "多选删除Banner图", "description": "多选删除Banner图", "operationId": "deleteBannersByIdsUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "ids", "in": "path", "description": "Bnnner图ID(id之间用“，”隔开)", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/homepage": {"get": {"tags": ["Banner图模块"], "summary": "查询首页/柜子商品列表页Banner", "description": "查询首页/柜子商品列表页Banner", "operationId": "findHomePageBannersUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "position", "in": "query", "description": "Banner位置(0-首页 ,1-柜子商品列表页)", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "cabinetId", "in": "query", "description": "柜子ID(position=1必填)", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/BannersView"}}}}}, "/banners/sort": {"put": {"tags": ["Banner图模块"], "summary": "Banner图修改排序", "description": "Banner图修改排序", "operationId": "sortBannersUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "orders", "in": "query", "description": "0-排序值减，1-排序值加", "required": true, "type": "ref"}, {"name": "id", "in": "query", "description": "Banner图id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/banners/{id}": {"get": {"tags": ["Banner图模块"], "summary": "查询Banner图", "description": "根据Id查询Banner图接口", "operationId": "findBannersByIdUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "Bnnner图ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/bindingOpenId": {"put": {"tags": ["用户模块"], "summary": "社区人商家社区人生鲜openId绑定", "description": "社区人商家社区人生鲜openId绑定", "operationId": "bindingOpenIdHandlerUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "type", "in": "query", "description": "类型0表示新增绑定1表示修改绑定", "required": true, "type": "integer", "format": "int32"}, {"name": "username", "in": "query", "description": "待授权用户名", "required": true, "type": "string"}, {"name": "openId", "in": "query", "description": "微信openId", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/business": {"get": {"tags": ["商家模块"], "summary": "查询商家对象集合", "description": "列表筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名、区域编码主键、是否开启(1:开启2:关闭)条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1'", "operationId": "listUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名、区域编码主键、是否开启(1:开启2:关闭)条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1'", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«business»"}}}}, "post": {"tags": ["商家模块"], "summary": "新增商家对象", "description": "新增商家对象", "operationId": "addUsingPOST_2", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "商家", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/business"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«business»"}}}}, "put": {"tags": ["商家模块"], "summary": "修改商家对象", "description": "修改商家对象", "operationId": "updateUsingPUT_2", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "商家", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/business"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«business»"}}}}}, "/business-select": {"get": {"tags": ["商家模块"], "summary": "查询供应商信息", "description": "查询供应商信息", "operationId": "selectListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«BusinessSelectView»"}}}}}, "/business/charges": {"get": {"tags": ["商家模块"], "summary": "获取佣金收益", "description": "获取佣金收益:分类(14:网点 11或12:生鲜柜管理超级管理员/区域运营 16:生鲜柜管理普通用户)、日期过滤条件格式为:filter='type::14|date::2018-05-10,2018-05-19')", "operationId": "chargesUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件获：分类(14:网点 11或12:生鲜柜管理超级管理员 16:生鲜柜管理普通用户)、日期过滤条件格式为:filter='type::14|date::2018-05-10,2018-05-19')", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "number", "format": "double"}}}}}, "/business/check-pay-password": {"get": {"tags": ["商家模块"], "summary": "验证支付密码", "description": "验证支付密码(成功true:失败:false)", "operationId": "checkPayPasswordUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "payPassword", "in": "query", "description": "payPassword", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/business/city/{city-id}": {"get": {"tags": ["商家模块"], "summary": "根据城市ID查询该城市是否开通生鲜柜业务", "description": "根据城市ID查询该城市是否开通生鲜柜业务", "operationId": "isOpenBusinessUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "city-id", "in": "path", "description": "city-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/business/citys": {"get": {"tags": ["商家模块"], "summary": "开通生鲜柜业务的城市列表", "description": "开通生鲜柜业务的城市列表", "operationId": "openBusinessCitysUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«DicCityView»"}}}}}, "/business/default-payment": {"get": {"tags": ["商家模块"], "summary": "获取用户默认的支付方式", "description": "获取用户默认的支付方式", "operationId": "getDefaultPaymentUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«UserBankChanne»"}}}}}, "/business/export": {"get": {"tags": ["商家模块"], "summary": "导出商家对象集合(含省市区的子集)", "description": "列表筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名、省、市、区主键、是否开启(1:开启2:关闭)条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1'", "operationId": "exportBusinessUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名、省、市、区主键、是否开启(1:开启2:关闭)条件查询条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1'", "required": false, "type": "string"}], "responses": {"200": {"description": "OK"}}}}, "/business/findBusiness": {"get": {"tags": ["商家模块"], "summary": "查询网点信息", "description": "查询网点信息", "operationId": "findBusinessUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "longitude", "in": "query", "description": "用户当前定位-经度", "required": true, "type": "number", "format": "double"}, {"name": "latitude", "in": "query", "description": "用户当前定位-纬度", "required": true, "type": "number", "format": "double"}, {"name": "businessId", "in": "query", "description": "网点ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CabinetNearByView"}}}}}, "/business/findUserIdByNetworkId/{network-level-id}": {"get": {"tags": ["商家模块"], "summary": "通过级别ID查找此级别下的所有网点用户ID", "description": "通过级别ID查找此级别下的所有网点用户ID", "operationId": "findUserIdByNetworkIdUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "network-level-id", "in": "path", "description": "级别ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/NetworkLevel"}}}}}, "/business/getBusinessForPhone": {"get": {"tags": ["商家模块"], "summary": "根据网点电话查询网点对象", "description": "根据网点电话查询网点对象", "operationId": "getBusinessForPhoneUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "phone", "in": "query", "description": "phone", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«business»"}}}}}, "/business/getBusinessForUserId": {"get": {"tags": ["商家模块"], "summary": "根据商家userId查询网点对象", "description": "根据商家userId查询网点对象", "operationId": "getBusinessForUserIdUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "userId", "in": "query", "description": "userId", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/business/import": {"get": {"tags": ["商家模块"], "summary": "网点导入(支持生鲜超管角色导入)", "description": "网点导入(支持生鲜超管角色导入)", "operationId": "importBusinessUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filePath", "in": "query", "description": "导入文件路径,格式：http://XXX.xlsx", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Map"}}}}}}, "/business/judgeIsNetworkOpen": {"get": {"tags": ["商家模块"], "summary": "查看当前用户是否是网点且网点开启", "description": "查看是否有临时活动", "operationId": "judgeIsNetworkOpenUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/business/modify-pay-password": {"put": {"tags": ["商家模块"], "summary": "修改支付密码", "description": "修改支付密码(成功true:失败:false)", "operationId": "resetPayPasswordUsingPUT", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "payPassword", "in": "query", "description": "payPassword", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/business/networks": {"get": {"tags": ["商家模块"], "summary": "查询商家信息根据经纬度和范围", "description": "查询商家信息根据经纬度和范围", "operationId": "findNetWorkUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "longitude", "in": "query", "description": "longitude", "required": false, "type": "number", "format": "double"}, {"name": "latitude", "in": "query", "description": "latitude", "required": false, "type": "number", "format": "double"}, {"name": "distance", "in": "query", "description": "distance", "required": false, "type": "number", "format": "double"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«business»"}}}}}, "/business/networks/": {"get": {"tags": ["商家模块"], "summary": "根据城市筛选自提柜列表（下单做自提柜选择，通过是否购买过、网点距离排序，如果团长就是生鲜自提点则仅能在团长自提点提货）", "description": "根据城市筛选自提柜列表（下单做自提柜选择，通过是否购买过、网点距离排序，如果团长就是生鲜自提点则仅能在团长自提点提货）", "operationId": "getNetworksUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "cityId", "in": "query", "description": "群接龙团长所属-城市ID", "required": true, "type": "integer", "format": "int64"}, {"name": "longitude", "in": "query", "description": "用户当前定位-经度", "required": true, "type": "number", "format": "double"}, {"name": "latitude", "in": "query", "description": "用户当前定位-纬度", "required": true, "type": "number", "format": "double"}, {"name": "distance", "in": "query", "description": "筛选附近距离(米为单位)", "required": true, "type": "number", "default": 1000.0, "format": "double"}, {"name": "keyword", "in": "query", "description": "搜索关键字（支持通过自提点名称和详细地址模糊筛选）", "required": false, "type": "string"}, {"name": "groupLeaderId", "in": "query", "description": "团长ID（非必传，用于团长就是生鲜自提点则仅能在团长自提点提货）", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«Resource«CabinetNearByView»»"}}}}}, "/business/province/items": {"get": {"tags": ["商家模块"], "summary": "通过查询商家对象集合(含省市区的子集)", "description": "列表筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名/注册账号模糊搜索、省、市、区主键、是否开启(1:开启2:关闭)级别Id(无级别传null字符串)条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1|level::1'", "operationId": "provinceItemsPageUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "筛选条件商家分类(14:网点 15:供应商)、商家名称/店主姓名/注册账号模糊搜索、省、市、区主键、是否开启(1:开启2:关闭)级别Id(无级别传null字符串)条件查询条件查询，过滤条件格式为:filter='type::1|name::1|province::0|city::0|area::0|isopen::1|level::1'", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«business»»"}}}}}, "/business/provinces": {"get": {"tags": ["商家模块"], "summary": "开通生鲜柜业务的省列表", "description": "开通生鲜柜业务的省列表", "operationId": "openBusinessProvincesUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«cityDist»"}}}}}, "/business/sqrnetworks": {"get": {"tags": ["商家模块"], "summary": "根据城市筛选自提柜列表（发团预览自提柜选择、网点距离排序，如果团长就是生鲜自提点则仅能在团长自提点提货）", "description": "根据城市筛选自提柜列表（发团预览自提柜选择、网点距离排序，如果团长就是生鲜自提点则仅能在团长自提点提货）", "operationId": "getSqrNetworksUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "cityId", "in": "query", "description": "群接龙团长所属-城市ID", "required": true, "type": "integer", "format": "int64"}, {"name": "longitude", "in": "query", "description": "用户当前定位-经度", "required": true, "type": "number", "format": "double"}, {"name": "latitude", "in": "query", "description": "用户当前定位-纬度", "required": true, "type": "number", "format": "double"}, {"name": "distance", "in": "query", "description": "筛选附近距离(米为单位)", "required": true, "type": "number", "default": 1000.0, "format": "double"}, {"name": "phone", "in": "query", "description": "商家/团长手机号（非必传，用于团长就是生鲜自提点则仅能在团长自提点提货）", "required": true, "type": "string"}, {"name": "sign", "in": "query", "description": "签名（手机号+key后MD5）", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«Resource«CabinetNearByView»»"}}}}}, "/business/synchronize": {"put": {"tags": ["商家模块"], "summary": "社区人自提点同步到网点", "description": "社区人自提点同步到网点", "operationId": "synchronizeUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "商家", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/BusinessSqrSynView"}}, {"name": "signkey", "in": "header", "description": "signkey", "required": true, "type": "string"}], "responses": {"200": {"description": "OK"}}}}, "/business/user": {"get": {"tags": ["商家模块"], "summary": "根据用户查询商家对象", "description": "根据用户ID查询商家对象(token、userId二者选其一,token与userId同时存在已用户id为准)", "operationId": "findByUserIdUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "userId", "in": "query", "description": "userId", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«business»"}}}}}, "/business/{business-id}": {"get": {"tags": ["商家模块"], "summary": "根据商家ID查询商家对象", "description": "根据商家ID查询商家对象", "operationId": "findByIdUsingGET_2", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "business-id", "in": "path", "description": "business-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«business»"}}}}, "delete": {"tags": ["商家模块"], "summary": "删除商家对象", "description": "删除商家对象", "operationId": "delUsingDELETE_2", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "business-id", "in": "path", "description": "business-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/category": {"get": {"tags": ["类目管理"], "summary": "获取商品所有类目", "description": "获取商品所有类目", "operationId": "showAllCategoryUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«ProductCategoryShowView»"}}}}, "post": {"tags": ["类目管理"], "summary": "添加品类目", "description": "添加商品类目", "operationId": "addCateGoryUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "商品类目", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/ProductCategoryEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«ProductCategoryEditView»"}}}}, "put": {"tags": ["类目管理"], "summary": "修改商品类目", "description": "修改商品类目", "operationId": "updateCateGoryUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "商品类目", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/ProductCategoryEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«ProductCategoryEditView»"}}}}}, "/category/{id}": {"post": {"tags": ["类目管理"], "summary": "获取商品类目", "description": "获取商品类目", "operationId": "findCategoryUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "类目ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«ProductCategoryEditView»"}}}}, "delete": {"tags": ["类目管理"], "summary": "删除商品类目", "description": "删除商品类目", "operationId": "delCateGoryUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "类目ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«ProductCategoryEditView»"}}}}}, "/channes": {"get": {"tags": ["第三方渠道账号模块"], "summary": "查询第三方渠道账号分页对象集合", "description": "查询第三方渠道账号分页对象集合", "operationId": "pageUsingGET_2", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "page", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "size", "required": false, "type": "integer", "default": 10, "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«channe»»"}}}}, "post": {"tags": ["第三方渠道账号模块"], "summary": "新增第三方渠道账号对象", "description": "新增第三方渠道账号对象", "operationId": "addUsingPOST_3", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "第三方渠道账号", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/channe"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«channe»"}}}}, "put": {"tags": ["第三方渠道账号模块"], "summary": "修改第三方渠道账号对象", "description": "修改第三方渠道账号对象", "operationId": "updateUsingPUT_3", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "第三方渠道账号", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/channe"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«channe»"}}}}}, "/channes/default": {"get": {"tags": ["第三方渠道账号模块"], "summary": "查询默认支付账号", "description": "查询默认支付账号", "operationId": "findByFilterUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«channe»"}}}}}, "/channes/list": {"get": {"tags": ["第三方渠道账号模块"], "summary": "查询第三方渠道账号对象集合", "description": "查询第三方渠道账号对象集合", "operationId": "listUsingGET_2", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件用户ID、条件查询条件查询，过滤条件格式为:filter='uid::1", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«channe»"}}}}}, "/channes/set-default": {"put": {"tags": ["第三方渠道账号模块"], "summary": "设置默认支付方式", "description": "设置默认支付方式", "operationId": "setDefaultUsingPUT_1", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "query", "description": "id", "required": false, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/channes/{channe-id}": {"get": {"tags": ["第三方渠道账号模块"], "summary": "根据第三方渠道账号ID查询第三方渠道账号对象", "description": "根据第三方渠道账号ID查询第三方渠道账号对象", "operationId": "findByIdUsingGET_3", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "channe-id", "in": "path", "description": "channe-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«channe»"}}}}, "delete": {"tags": ["第三方渠道账号模块"], "summary": "删除第三方渠道账号对象", "description": "删除第三方渠道账号对象", "operationId": "delUsingDELETE_3", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "channe-id", "in": "path", "description": "channe-id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/checkMergeUserByJava": {"get": {"tags": ["用户模块"], "summary": "检测合并用户APP跳转", "description": "检测合并用户APP跳转", "operationId": "mergeUserByJavaUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "appToken", "in": "query", "description": "appToken", "required": false, "type": "string"}, {"name": "userUnionId", "in": "query", "description": "第三方授权的unionId", "required": false, "type": "string"}, {"name": "unionId", "in": "query", "description": "小程序unionId", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/city/countyInfo": {"get": {"tags": ["城市管理"], "summary": "获城市下面区县信息", "description": "获城市下面区县信息", "operationId": "findChildCityInfoUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "cityId", "in": "query", "description": "城市ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/CountyInfoView"}}}}}}, "/citys": {"get": {"tags": ["商家模块"], "summary": "查询城市编码获取对象集合", "description": "信息列表筛选条件编码、级别(0国家 1省 2室 3区)、名称、编号、上级编号条件查询条件查询，过滤条件格式为:filter='cityCode::029|levelType::2|name::西|no::1|pno::0')", "operationId": "findALLDicCityUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "filter", "in": "query", "description": "筛选条件城市编码、级别(0国家 1省 2室 3区)、名称、编号、上级编号条件查询，过滤条件格式为:cityCode::029|levelType::2|name::西|no::1|pno::0')", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«cityDist»"}}}}}, "/citys/network/items": {"get": {"tags": ["商家模块"], "summary": "查询生鲜柜所属网点城市对象集合", "description": "查询生鲜柜所属网点城市对象集合", "operationId": "findNetWorkDicCityUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«cityDist»"}}}}}, "/commission-statistics": {"get": {"tags": ["统计模块"], "summary": "佣金统计", "description": "统计到昨日为止各个网点获得的佣金", "operationId": "commissionStatisticsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "operationCode", "in": "query", "description": "操作码 0表示按升序返回数据1表示按降序返回数据", "required": true, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«MerchantCommissionStatisticsView»»"}}}}}, "/commonProblem/contentTwo": {"get": {"tags": ["常见问题业务"], "summary": "查询常见问题", "description": "查询常见问题", "operationId": "findCommonProblemContentTwoUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "object"}}}}}, "/commonProblem/delete": {"post": {"tags": ["常见问题业务"], "summary": "删除常见问题", "description": "删除常见问题", "operationId": "deleteCommonProblemUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "query", "description": "id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«CommonProblem»"}}}}}, "/commonProblem/saveOrUpdate": {"post": {"tags": ["常见问题业务"], "summary": "创建或修改常见问题", "description": "创建或修改常见问题", "operationId": "saveOrUpdateCommonProblemUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "常见问题基本信息", "description": "传入json对象", "required": true, "schema": {"$ref": "#/definitions/CommonProblemView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«CommonProblem»"}}}}}, "/dominoes/orders": {"get": {"tags": ["订单业务"], "summary": "接龙订单/用户订单列表", "description": "接龙订单/用户订单列表，通过用户Token识别用户角色普通用户、接龙团长,并查询不同角色的订单列表，支持通过订单类型（现货、预售）、订单状态（-1待付款、0交易完成、1交易关闭、2待发货）、支付状态（0待付款、1已支付、-1已退款）、订单号、订单生成时间段、商品名称/买家姓名/买家电话、售后状态（all 全部退款售后、0退款中、1退款驳回、2退款成功）等条件筛选(过滤条件格式为:filter='type::1|orderStatus::1|payStatus::0|bigOrSmallOrderNumber::1|startCreateTime::2018-11-01 00:00:00|endCreateTime::2018-11-30 00:00:00|userNameOrProductName::苹果'|orderAfterSaleStatus::0)", "operationId": "findDominoesOrderInfosUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "接龙订单/用户订单列表，通过用户Token识别用户角色普通用户、接龙团长,并查询不同角色的订单列表，支持通过订单类型（现货、预售）、订单状态（-1待付款、0交易完成、1交易关闭、2待发货）、支付状态（0待付款、1已支付、-1已退款）、订单号、订单生成时间段、商品名称/买家姓名/买家电话、售后状态（all 全部退款售后、0退款中、1退款驳回、2退款成功）等条件筛选(过滤条件格式为:filter='type::1|orderStatus::1|payStatus::0|bigOrSmallOrderNumber::1|startCreateTime::2018-11-01 00:00:00|endCreateTime::2018-11-30 00:00:00|userNameOrProductName::苹果'|orderAfterSaleStatus::0)')", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/feast": {"get": {"tags": ["节日活动相关"], "summary": "添加节日活动配置", "description": "添加节日活动配置", "operationId": "showFeastListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«FeastConfigListView»"}}}}, "post": {"tags": ["节日活动相关"], "summary": "添加节日活动配置", "description": "添加节日活动配置", "operationId": "addFeastConfigUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "节日配置对象信息", "description": "feastConfig", "required": true, "schema": {"$ref": "#/definitions/FeastConfigEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«FeastConfigEditView»"}}}}, "put": {"tags": ["节日活动相关"], "summary": "修改节日活动配置", "description": "修改节日活动配置", "operationId": "editFeastConfigUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "节日配置对象信息", "description": "feastConfig", "required": true, "schema": {"$ref": "#/definitions/FeastConfigEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«FeastConfigEditView»"}}}}}, "/feast/{id}": {"delete": {"tags": ["节日活动相关"], "summary": "删除节日活动配置", "description": "删除节日活动配置", "operationId": "delFeastConfigUsingDELETE", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "节日活动ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/findBannersTwo": {"get": {"tags": ["Banner图模块"], "summary": "查询Banner列表", "description": "查询Banner列表接口", "operationId": "findBannersUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "ref", "default": "0"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "ref", "default": "10"}, {"name": "order", "in": "query", "description": "排序（默认0，点击1）", "required": false, "type": "ref", "default": "0"}, {"name": "filter", "in": "query", "description": "Banner筛选条件,支持根据banner主键(id::1,2,3)、Banner位置(position::1)Banners标题(title::首页大图)，链接类型(linkType::1),是否启用(isEnabled::true),城市名称(name::西安) ,多个条件用'|'连接", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/banners"}}}}}, "/findByNotSendMasgOrderNumber": {"post": {"tags": ["订单业务"], "summary": "查询不发送取货码的订单号", "description": "查询不发送取货码的订单号", "operationId": "findByNotSendMasgOrderNumberUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"in": "body", "name": "订单号集合", "description": "传入json格式", "required": true, "schema": {"type": "array", "items": {"type": "string"}}}, {"name": "Authorization", "in": "header", "description": "Authorization", "required": true, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"type": "string"}}}}}}, "/findOrderInfoErp/{orderNumber}/{signature}": {"get": {"tags": ["订单业务"], "summary": "商家根据订单id发送此订单的取货通知", "description": "商家根据订单id发送此订单的取货通知", "operationId": "findOrderInfoErpViewByOrderNumberUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "orderNumber", "in": "path", "description": "orderNumber", "required": true, "type": "string"}, {"name": "signature", "in": "path", "description": "signature", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/OrderInfoErpView"}}}}}, "/findTimeSlotOfOrderNumAndProNum": {"post": {"tags": ["订单业务"], "summary": "给erp提供订单数和商品总数（已支付+待发货的订单）", "description": "给erp提供订单数和商品总数（已支付+待发货的订单）", "operationId": "findTimeSlotOfOrderNumAndProNumUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "startDate", "in": "query", "description": "startDate", "required": true, "type": "string"}, {"name": "endDate", "in": "query", "description": "endDate", "required": true, "type": "string"}, {"name": "shopIds", "in": "query", "description": "shopIds", "required": true, "type": "string"}, {"name": "Authorization", "in": "query", "description": "Authorization", "required": true, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Map«string,object»"}}}}}}, "/flagImg/{cityCode}": {"get": {"tags": ["节日活动相关"], "summary": "获取旗帜图片", "description": "获取旗帜图片", "operationId": "getFlagImgUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "cityCode", "in": "path", "description": "区域ID", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK", "schema": {"type": "string"}}}}}, "/front-category-web": {"get": {"tags": ["前台类目管理"], "summary": "前台类目列表", "description": "前台类目列表", "operationId": "frontCategoryListUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页显示数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "筛选条件(支持名称过滤 name::苹果)", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«FrontCategoryListView»»"}}}}, "post": {"tags": ["前台类目管理"], "summary": "添加前台类目", "description": "添加前台类目", "operationId": "addFrontCategoryUsingPOST", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "前台类目对象", "description": "传入JSON", "required": true, "schema": {"$ref": "#/definitions/FrontCategoryEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«FrontCategoryEditView»"}}}}, "put": {"tags": ["前台类目管理"], "summary": "修改前台类目", "description": "修改前台类目", "operationId": "updateFrontCategoryUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "前台类目对象", "description": "传入JSON", "required": true, "schema": {"$ref": "#/definitions/FrontCategoryEditView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«FrontCategoryEditView»"}}}}}, "/front-category-web/allCategory": {"get": {"tags": ["前台类目管理"], "summary": "获取所有前台类目(适用接龙调用)", "description": "获取所有前台类目(适用接龙调用)", "operationId": "getAllFrontCategoryUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/FrontCategoryShowDominoView"}}}}}}, "/front-category-web/setCategoryIds": {"put": {"tags": ["前台类目管理"], "summary": "设置关联类目", "description": "设置关联类目", "operationId": "setProductCategoryIdsUsingPUT", "consumes": ["application/json;charset=UTF-8"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"in": "body", "name": "设置关联类目对象", "description": "传入JSON", "required": true, "schema": {"$ref": "#/definitions/FrontCategorySetIdView"}}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«FrontCategoryListView»"}}}}}, "/front-category-web/{id}": {"delete": {"tags": ["前台类目管理"], "summary": "删除类目", "description": "删除类目", "operationId": "deleteFrontCategoryUsingDELETE", "consumes": ["application/json"], "produces": ["*/*"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "id", "in": "path", "description": "id", "required": true, "type": "integer", "format": "int64"}], "responses": {"200": {"description": "OK"}}}}, "/getOpenIds": {"get": {"tags": ["用户模块"], "summary": "getOpenIds", "description": "getOpenIds", "operationId": "getOpenIdsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK"}}}}, "/getReward": {"get": {"tags": ["用户模块"], "summary": "查找奖励", "description": "查找奖励", "operationId": "getRewardUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«MyRewardView»"}}}}}, "/getReward/date": {"get": {"tags": ["用户模块"], "summary": "奖励汇总(月,日)(移动端)", "description": "奖励汇总(月，日)", "operationId": "getRewardMonthUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "type", "in": "query", "description": "已奖励1 待奖励2", "required": false, "type": "integer", "format": "int32"}, {"name": "date", "in": "query", "description": "不传按月传按日2019-01", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "array", "items": {"$ref": "#/definitions/Map«string,object»"}}}}}}, "/getReward/detail": {"get": {"tags": ["用户模块"], "summary": "查找奖励详情", "description": "查找奖励详情", "operationId": "getRewardDetailUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "isRewarded", "in": "query", "description": "已奖励1 待奖励0", "required": false, "type": "integer", "format": "int32"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«MyRewardDetailView»"}}}}}, "/getReward/detail/day": {"get": {"tags": ["用户模块"], "summary": "查找奖励详情(按日)(移动端)", "description": "查找奖励详情(按日)(移动端)", "operationId": "getRewardByDayUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "type", "in": "query", "description": "已奖励1 待奖励2", "required": false, "type": "integer", "format": "int32"}, {"name": "day", "in": "query", "description": "2019-01-01", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«RewardOrderInfoDetailView»»"}}}}}, "/getReward/detail/mobile": {"get": {"tags": ["用户模块"], "summary": "查找奖励详情(移动端)", "description": "查找奖励详情", "operationId": "getRewardDetailUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "phone", "in": "query", "description": "手机号", "required": true, "type": "string"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "isRewarded", "in": "query", "description": "已奖励1 待奖励0", "required": false, "type": "integer", "format": "int32"}, {"name": "sign", "in": "query", "description": "签名", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«RewardOrderInfoDetailPageView»"}}}}}, "/getReward/monthDetail/mobile": {"get": {"tags": ["用户模块"], "summary": "查找月度奖励详情(移动端)", "description": "查找月度奖励详情", "operationId": "getRewardMonthDetailUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "phone", "in": "query", "description": "手机号", "required": true, "type": "string"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "sign", "in": "query", "description": "签名", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«MonthRewardDetailView»»"}}}}}, "/getRewardSummaryForShop": {"get": {"tags": ["用户模块"], "summary": "奖励金汇总（按时间）", "description": "奖励金汇总（按时间）", "operationId": "getRewardSummaryForShopUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "beginDate", "in": "query", "description": "2019-01-01", "required": false, "type": "string"}, {"name": "endDate", "in": "query", "description": "2019-01-31", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/getSupplierBalanceLog": {"get": {"tags": ["财务统计模块"], "summary": "供应商金额日志", "description": "供应商金额日志", "operationId": "getSupplierBalanceLogUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "筛选条件关键字时间条件查询，过滤条件格式为:filter='keywords::xxx|date::2019-03-10 18:15:24,2019-03-19 18:15:24'", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«SupplierTotalBalanceLogView»"}}}}}, "/getSupplierProductLog": {"get": {"tags": ["财务统计模块"], "summary": "供应商商品日志", "description": "供应商商品日志", "operationId": "getSupplierProductLogUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": false, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": false, "type": "integer", "default": 10, "format": "int32"}, {"name": "filter", "in": "query", "description": "筛选条件关键字时间条件查询，过滤条件格式为:filter='keywords::xxx|date::2019-03-10 18:15:24,2019-03-19 18:15:24'", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/getUserCity": {"get": {"tags": ["用户模块"], "summary": "获取用户的区域信息", "description": "获取用户的区域信息", "operationId": "getUserCityInfoUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResource«OperatingUserView»"}}}}}, "/initCommissionDailyCache": {"post": {"tags": ["提现模块"], "summary": "初始化网点佣金统计缓存表", "description": "初始化网点佣金统计缓存表", "operationId": "initCommissionDailyCacheUsingPOST", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "key", "in": "header", "description": "秘钥", "required": true, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"type": "boolean"}}}}}, "/judgeAuthority": {"get": {"tags": ["订单业务"], "summary": "查询用户是否拥有订单相关的权限", "description": "查询用户是否拥有订单相关的权限", "operationId": "judgeIsManagerUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "boolean"}}}}}}, "/judgeAuthorizedGroupLeader": {"get": {"tags": ["用户模块"], "summary": "判断账户是否授权团长", "description": "判断账户是否授权团长", "operationId": "judgeAuthorizedGroupLeaderUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"type": "object", "additionalProperties": {"type": "object"}}}}}}, "/menu/get": {"get": {"tags": ["管理后台菜单"], "summary": "查找管理后台菜单", "description": "查找管理后台菜单", "operationId": "getSelfUsingGET_1", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/CommonResources«menuView»"}}}}}, "/merchant-accounting-item-statistics": {"get": {"tags": ["统计模块"], "summary": "商家收入支出详情统计", "description": "根据日期进行商家收入支出详情统计", "operationId": "merchantAccountingItemStatisticsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "beginTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "endTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "userId", "in": "query", "description": "商户Id", "required": true, "type": "integer", "format": "int64"}, {"name": "sqr_key", "in": "header", "description": "社区人秘钥", "required": false, "type": "string"}], "responses": {"200": {"description": "OK", "schema": {"$ref": "#/definitions/PagedResources«CommonResource«MerchantAccountingItemStatisticsView»»"}}}}}, "/merchant-accounting-statistics": {"get": {"tags": ["统计模块"], "summary": "商家收入支出统计", "description": "根据日期进行商家收入支出统计", "operationId": "merchantAccountingStatisticsUsingGET", "consumes": ["application/json"], "produces": ["application/hal+json"], "parameters": [{"name": "Authorization", "in": "header", "description": "CAS_TICKET:Bearer AT-XXXX", "required": false, "type": "string", "default": "Bearer AT-XXXX"}, {"name": "page", "in": "query", "description": "页码", "required": true, "type": "integer", "default": 0, "format": "int32"}, {"name": "size", "in": "query", "description": "每页记录条数", "required": true, "type": "integer", "default": 10, "format": "int32"}, {"name": "beginTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "endTimestamp", "in": "query", "description": "开始时间毫秒数", "required": false, "type": "integer", "format": "int64"}, {"name": "name", "in": "query", "description": "商户名称可模糊查询", "required": false, "type": "string"}, {"name": "sqr_key", "in": "header", "description": "社区人秘钥", "required": false, "type": "st
[...]
